@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.shorten-bg{
    background: url(./assets/bg-shorten-desktop.svg);
    background-color: hsl(257, 27%, 26%);
    position: absolute;
 top: -20%;

   
}
.container-bg{
    width: 100%;
    background-color: hsl(0, 9%, 82%);
    position: relative;
    padding-top: 150px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 640px){
    .shorten-bg{
    background: url(./assets/bg-shorten-mobile.svg) no-repeat center;
    background-color: hsl(257, 27%, 26%);
    top: -12%;
   
    margin-inline:auto ;

    }
    .container-bg{
        padding-top: 160px;
     
    }
}
